<% layout('layout/chat') -%>
<% block('title', "Чат") -%>

<div id="room">
  <ul class="list-unstyled"></ul>
  <form>
    <input class="form-control" autocomplete="off" autofocus placeholder="Сообщение...">
  </form>
</div>

<script>
  var input = $('#room input');
  var ul = $('#room ul');
  var form = $('#room form');

  function printStatus(status) {
    $('<li class="status">').text(status).appendTo(ul);
  }

  function printMessage(username, text) {
    $('<li>').append(
            $('<i>').text(username)
        ).append('> ' + text)
        .appendTo(ul);
  }

  var connection = new Connection({
    prefix: "/socket",
    socket: {debug: true},
    debug: true
  });

  connection.on('open', function() {
    printStatus('соединение установлено');
  });
  connection.on('disconnect', function() {
    printStatus('соединение потеряно');
  });

  connection.on('message', function(e, message) {
    if (message.text) {
      printMessage(message.username, message.text);
    } else if (message.status) {
      printStatus(message.username + ': ' + message.status);
    } else {
      throw new Error("Bad message: " + message);
    }
  });

  connection.on('close', function(event) {
    printStatus('соединение закрыто');
  });

  form.submit(function() {
    try {
      connection.send({text: input.val()});
    } catch(e) {
      console.log(e);
      return false;
    }
    input.val('');
    return false;
  });

</script>