<% layout('layout/page') -%>
<% block('title', "Сайт с чатом") -%>

<p>Этот пример содержит:</p>

<ol>
  <li>Обычные страницы, которые проходят через роутер, например, эта страница</li>
  <li>Авторизацию</li>
  <li>Чат</li>
</ol>


<p>Требования к примеру:</p>

<ol>
  <li>Простой и понятный код</li>
  <li>Архитектура пригодна для разработки и расширения</li>
  <li>Можно запустить в кластере</li>
</ol>


<%=helpers.now()%>